.page-404 .markdown-body
  display: flex
  align-items: center
  justify-content: center
  font-weight: bold
  font-size: 100px
  padding-top: 200px !important

.is-search .footer-nav .right
.error404 .footer-nav
  display: none