//
// Sidebar logo
//

.link-index
  display: block
  margin-bottom: 16px
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgNzAwIDIzMyIgdmVyc2lvbj0iMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+PHBhdGggaWQ9InBhdGgwX2ZpbGwiIGZpbGw9IiMxNjI2ZmYiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTAgMGgyMzN2NzBjLTQ5IDktODQgMjctMTE2IDQ2djQ5bDEzLThjMzEtMTggNjEtMzQgMTAzLTQzdjExOUgwdi03MWM1MC05IDg0LTI4IDExNy00NlY2N2wtMTEgN0M3NCA5MiA0NCAxMDkgMCAxMTdWMHoiLz48L3N2Zz4=")
  background-position: 24px 2px
  background-repeat: no-repeat
  background-size: 70px 30px
  text-indent: 30px