.logo-grid
  display: grid
  grid-template-columns: 25% 25% 25% 25%
  grid-gap: 15px
  justify-content: center
  align-items: center
  margin: 50px 0
  position: relative
  left: -10px

  @media (max-width: 768px)
    grid-template-columns: 50% 50%
    grid-gap: 10px
    left: 0px

.logo
  padding: 20px

.logo.xwp
  padding: 40px

.logo.wp-engine
  padding: 10px

.logo.kinsta
  padding: 30px