.link-index {
	display: block;
	margin-bottom: 50px;
	background-image: url(tide-logo.svg);
	background-position: 24px 2px;
	background-repeat: no-repeat;
	background-size: 70px 30px;
}

.hero {
	display: flex;
	align-items: center;
	max-width: 100vw;
	min-height: 50vh;
	margin-bottom: 100px;
}

.hero__logo {
	width: 100%;
}

/* 
Overwrite defaults 
*/

.toc-menu .link.-active,
.toc-menu .hlink.-active {
	box-shadow: inset -2px 0 #1626ff;
}

@media (min-width: 769px) {
	.markdown-body h2 {
			margin-top: 50px;
			margin-bottom: 20px;
	}
}